wp-content/uploads/wc-logs/*
#wp-content/plugins/*
#wp-content/uploads/*
#/*
#!wp-content
#wp-content/*
#!wp-content/themes
#wp-content/themes/*
#!wp-content/themes/womazing
#wp-content/themes/womazing/*
#!wp-content/themes/womazing/assets
#wp-content/themes/womazing/assets/*
#!wp-content/themes/womazing/assets/css
#wp-content/themes/womazing/assets/css/*
#!wp-content/themes/womazing/assets/css/main.css
#!wp-content/themes/womazing/assets/js
#wp-content/themes/womazing/assets/js/*
#!wp-content/themes/womazing/assets/js/main.js
#!wp-content/themes/womazing/inc
#wp-content/themes/womazing/inc/*
#!wp-content/themes/womazing/inc/redux-components
#!wp-content/themes/womazing/inc/redux-config.php
#!wp-content/themes/womazing/inc/woo.php
#!wp-content/themes/womazing/woocommerce
#wp-content/themes/womazing/woocommerce/*
#!wp-content/themes/womazing/woocommerce/archive-product.php
#!wp-content/themes/womazing/woocommerce/content-single-product.php
#!wp-content/themes/womazing/callback-success.php
#!wp-content/themes/womazing/callback.php
#!wp-content/themes/womazing/footer.php
#!wp-content/themes/womazing/functions.php
#!wp-content/themes/womazing/header.php
#!wp-content/themes/womazing/one-item.php
#!wp-content/themes/womazing/products-item.php
#!wp-content/themes/womazing/screenshot.png
#!wp-content/themes/womazing/style.css
#!wp-content/themes/womazing/template-about.php
#!wp-content/themes/womazing/template-contact.php
#!wp-content/themes/womazing/template-home.php









